<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione sunt
      deleniti adipisci cum aut atque recusandae rem nulla! Suscipit, natus.
    </p>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, officia?
      </div>
    </div>
  </div>
</section>
<div class="container">
  <section class="block block--dark block--skewed-right">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, voluptate
      doloribus labore nam atque error voluptatum dolorum sit nostrum iure.
    </p>
  </section>
</div>
