<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <div>
      <svg class="icon collapsible__chevron">
        <use xlink:href="images/sprite.svg#chevron"></use>
      </svg>
    </div>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolor
    animi suscipit ratione sapiente natus unde culpa dolore obcaecati qui?
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <div>
      <svg class="icon collapsible__chevron">
        <use xlink:href="images/sprite.svg#chevron"></use>
      </svg>
    </div>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolor
    animi suscipit ratione sapiente natus unde culpa dolore obcaecati qui?
  </div>
</div>

<script src="main.js"></script>
